.header {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #0050f9; */
}

.hero-bg {
  display: block;
  width: 100%;
}

.brand {
  justify-content: center;
  align-items: center;
  margin-top: .1rem;
}

.menu a {
  color: #ffffff;
}

.blockquote:before {
  content: '“';
  position: absolute;
  left: 0;
  top: 80%;
  color: #0050f9;
  font-size: 128px;
}

.blockquote:after {
  content: '”';
  position: absolute;
  right: 0;
  top: 80%;
  color: #0050f9;
  font-size: 128px;
}
.social{
  justify-content: flex-end;
}
.social img{
  width:2rem;
  height:2rem;
  cursor: pointer;
}
.footer-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}