.hero-bg {
  background-image: url('/wamo_hero_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  justify-content: center;
  align-items: center;
  margin-top: .2rem;
}

.menu a {
  color: #ffffff;
}

.blockquote:before {
  content: '“';
  position: absolute;
  left: 0;
  top: 80%;
  color: #0050f9;
  font-size: 128px;
}

.blockquote:after {
  content: '”';
  position: absolute;
  right: 0;
  top: 80%;
  color: #0050f9;
  font-size: 128px;
}
