.content {
  width: 100vw;
  /* height: auto; */
  background-image: url('/wamo_content.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  min-height:3300px;
}

.content-inner {
  background: linear-gradient(
    180deg,
    rgba(106, 194, 180, 0) 0%,
    rgba(108, 228, 209, 0.6) 100%
  );
}

fieldset {
  border: none;
  padding: 0;
}
figure {
  margin: 0;
  border: none;
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.content-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 300px;
}
.content-image-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.content-image-mobile img {
  /* flex-shrink: 0; */
  min-width: 100%;
  /* min-height: 100%; */
  /* max-height: 300px; */
}