:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* @font-face {
  font-family: HeroKid-BoldCondensed;
  src: url('/Herokid-BoldCondensed.otf') format('opentype');
}

@font-face {
  font-family: HeroKid-ExtraBoldCondensed;
  src: url('/Herokid-ExtraBoldCondensed.otf') format('opentype');
} */
@font-face {
  font-family: InterRegular;
  src: url('./assets/font/Inter-Regular.otf') ;
}
@font-face {
  font-family: InterMedium;
  src: url('./assets/font/Inter-Medium.otf');
}
/* . {
  font-family: HeroKid-BoldCondensed;
}

. {
  font-family: HeroKid-ExtraBoldCondensed;
} */
.inter-regular{
  font-family: 'InterRegular';
}
.inter-medium{
  font-family: 'InterMedium';
}
